---
import { Image } from "astro:assets";
import { ChevronDown, Menu, X } from "lucide-astro";

import QuizBeeLogo from "@/assets/icons/bee_final.svg";
import ThemeController from "@/components/features/ThemeController.svelte";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
  getPathWithLang,
} from "@/i18n/utils";
import { languages } from "@/i18n/ui";

interface Props {
  active: string;
  ctaText?: string;
  ctaModal?: string;
  ctaHref?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tp = useTranslatedPath(lang);

const {
  active,
  ctaHref = "/",
  ctaText = t("cta.start_for_free"),
  ctaModal,
} = Astro.props;

const navItems = [
  {
    name: "home",
    label: t("nav.home"),
    href: "/",
  },
  // {
  //   name: "blog",
  //   label: t("nav.blog"),
  //   href: "/blog",
  // },
  // {
  //   name: "quizes",
  //   label: t("nav.quizes"),
  //   href: "/quizes",
  // },
];

const currentPath = Astro.url.pathname;
---

<header
  class="w-full backdrop-blur-md bg-base-100/70 border-b border-base-300 sticky top-0 z-50"
>
  <div
    class="max-w-screen-xl flex justify-between items-center px-4 py-2 mx-auto"
  >
    <!-- Logo -->
    <a href="/" class="inline-flex items-center gap-2">
      <Image
        src={QuizBeeLogo}
        alt="Quizbee"
        class="size-10 rounded-full"
        width={40}
        height={40}
      />
      <p class="text-primary text-3xl font-semibold">Quizbee</p>
    </a>

    <!-- Desktop Navigation -->
    <nav class="gap-5 hidden md:flex">
      {
        navItems.map((item) => (
          <a
            href={tp(item.href, lang)}
            class={`link link-hover ${active === item.name && "font-bold"}`}
          >
            {item.label}
          </a>
        ))
      }
    </nav>

    <!-- Right side actions -->
    <div class="items-center gap-3 flex">
      <!-- Language Switcher -->
      <div class="dropdown dropdown-end hidden md:block">
        <div tabindex="0" role="button" class="btn btn-ghost">
          {languages[lang]}
          <ChevronDown size={14} />
        </div>
        <ul
          tabindex="0"
          class="dropdown-content menu bg-base-100 rounded-box z-[1] w-40 p-2 shadow-lg border border-base-300"
        >
          {
            Object.entries(languages).map(([langCode, langName]) => (
              <li>
                <a
                  href={getPathWithLang(currentPath, langCode, lang)}
                  class={lang === langCode ? "active" : ""}
                >
                  {langName}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="hidden md:block">
        <ThemeController client:only />
      </div>

      <!-- CTA Button -->
      <div class="hidden md:block">
        <slot name="CTA">
          {
            ctaModal && (
              <button
                onclick={`${ctaModal}.showModal()`}
                class="btn btn-primary rounded-xl px-4"
              >
                {ctaText}
              </button>
            )
          }
          {
            ctaHref && (
              <a href={ctaHref} class="btn btn-primary rounded-xl px-4">
                {ctaText}
              </a>
            )
          }
        </slot>
      </div>

      <!-- Mobile menu toggle -->
      <div class="md:hidden">
        <label for="modal_burger" class="btn btn-circle swap swap-rotate">
          <Menu size={24} />
        </label>
      </div>
    </div>
  </div>
</header>

<!-- Mobile menu modal -->
<input type="checkbox" id="modal_burger" class="modal-toggle" />
<div class="modal modal-end z-100" role="dialog">
  <div class="relative modal-box min-w-sm">
    <label
      for="modal_burger"
      class="btn btn-ghost btn-sm btn-circle absolute right-4 top-2 text-lg font-bold"
      ><X size={32} /></label
    >
    <h3 class="text-xl font-bold text-center mb-4">Navigation</h3>
    <nav class="*:text-lg space-y-2 mb-4">
      {
        navItems.map((item) => (
          <a
            href={tp(item.href, lang)}
            class={`block link link-hover ${active === item.name && "font-bold"}`}
          >
            {item.label}
          </a>
        ))
      }
    </nav>

    <h4 class="text-xl font-bold text-center mb-4">Controls</h4>

    <div class="flex flex-row items-center justify-center gap-4">
      <div class="flex items-center h-full">
        <div class="dropdown dropdown-bottom">
          <div
            tabindex="0"
            role="button"
            class="btn btn-lg btn-ghost flex items-center"
          >
            {languages[lang]}
            <ChevronDown size={30} />
          </div>
          <ul
            tabindex="0"
            class="dropdown-content menu bg-base-100 rounded-box z-[1] w-40 p-2 shadow-lg border border-base-300"
          >
            {
              Object.entries(languages).map(([langCode, langName]) => (
                <li>
                  <a
                    href={getPathWithLang(currentPath, langCode, lang)}
                    class={lang === langCode ? "active" : ""}
                  >
                    {langName}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div class="flex items-center h-full">
        <ThemeController client:only size="size-12" />
      </div>
    </div>
  </div>
  <label class="modal-backdrop" for="modal_burger">
    <X size={24} />
  </label>
</div>

<div class="fixed bottom-4 right-1/2 translate-x-1/2 sm:hidden z-50">
  {
    ctaModal && (
      <button
        onclick={`${ctaModal}.showModal()`}
        class="btn btn-primary rounded-xl px-4 btn-wide btn-lg btn-outline shadow-lg"
      >
        {ctaText}
      </button>
    )
  }
  {
    ctaHref && (
      <a
        href={ctaHref}
        class="btn btn-primary rounded-xl px-4 btn-wide btn-lg btn-outline shadow-lg"
      >
        {ctaText}
      </a>
    )
  }
</div>
